---
layout: default
title: Червепедия
---
<div class="posts">
    {% for post in paginator.posts %}
        {% include post.html %}
    {% endfor %}
</div>

<!-- Пагинация -->
{% if paginator.total_pages > 1 %}
<div class="pagination" data-aos="fade-up" data-aos-delay="700">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | absolute_url }}"><i class="fas fa-chevron-left"></i></a>
    {% else %}
        <span><i class="fas fa-chevron-left"></i></span>
    {% endif %}

    <span class="current">{{ paginator.page }}</span>

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | absolute_url }}"><i class="fas fa-chevron-right"></i></a>
    {% else %}
        <span><i class="fas fa-chevron-right"></i></span>
    {% endif %}
</div>
{% endif %}

<!-- Секция "Обо мне" -->
<div class="about" id="about" data-aos="fade-up" data-aos-delay="600">
    <h2>ЧЕРВЕТРЕД</h2>
    <p>Черветред - это антироссийская ветка тредов на Дваче, которая изначально была создана для обсуждения творчества Павла Гринева, известного под псевдонимом Кинаман, но со временем превратилась в платформу для антигосударственных и антипутинских высказываний.</p>
</div>