<footer id="footer">
    <div class="about" id="about" data-aos="fade-up" data-aos-delay="600">
        <h2>Обо мне</h2>
        <p>Черветред — это антироссийская ветка тредов на анонимном имиджборде Двач. Тред посвящён риторике против России, анализу текущих событий и выражению антигосударственных и антипутинских настроений. </p>
    </div>
    <p>Связаться со мной:</p>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fas fa-envelope"></i></a>
</footer>
