<div class="sidebar" data-aos="fade-right">
    <div class="header">
        <img src="{{ '/assets/images/logo.jpg' | absolute_url }}" alt="Логотип Черветреда" class="logo">
        <div class="title-and-tag">
            <h1 class="site-title">
                {{ site.title }}
                <span class="marker-blue"></span>
                <span class="marker-yellow"></span>
            </h1>
            <a href="https://t.me/chervethreadofficial" class="site-tag">@chervethreadofficial</a>
        </div>
    </div>
    <p class="site-description">{{ site.description }}</p>
    <nav>
        {% for item in site.menu %}
            {% if item.url contains '#' %}
                <a href="{{ item.url }}" class="nav-link">
                    <span class="icon"><i class="{{ item.icon }}"></i></span> {{ item.title }}
                </a>
            {% else %}
                <a href="{{ item.url | absolute_url }}" class="nav-link">
                    <span class="icon"><i class="{{ item.icon }}"></i></span> {{ item.title }}
                </a>
            {% endif %}
        {% endfor %}
    </nav>
</div>