---
layout: default
---

<div class="post-container">
    <div class="post-content">
        <h2>{{ page.title }}</h2>

        {% if page.image %}
        <div class="post-image">
            <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">
            </a>
        </div>
        {% endif %}

        <div class="excerpt">
            {{ content }}
        </div>
    </div>
</div>

<div class="comments-container">
    {% include comments.html %}
</div>