---
layout: default
---
<div class="post" data-aos="fade-up">
    <h2>{{ page.title }}</h2>
    {% if page.image %}
    <div class="post-image">
        <div class="post-image-bg" style="background-image: url('{{ page.image | absolute_url }}');"></div>
        <img src="{{ page.image | absolute_url }}" alt="{{ page.title }}">
    </div>
    {% endif %}
    <p>{{ content }}</p>
</div>

<!-- Секция "Обо мне" -->
<div class="about" id="about" data-aos="fade-up" data-aos-delay="600">
    <h2>Обо мне</h2>
    <p>Привет! Я автор этого блога. Люблю путешествия, творчество и простые радости жизни. Здесь делюсь своими мыслями и моментами.</p>
</div>