---
layout: default
---

<div class="post-container">
    <div class="post-content">
        <h2>{{ page.title }}</h2>

        {% if page.image %}
        <div class="post-image">
            <a href="{{ page.url | relative_url }}">
                <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
            </a>
        </div>
        {% endif %}

        <div class="excerpt">
            {{ content }}
        </div>

        <footer class="info">
            <div class="info-inner">
                <div class="post-meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d.%m.%Y" }}</time>
                    <span class="dot"></span>
                    <span>{{ page.author | default: site.author }}</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<div class="comments-container">
    <script async src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-discussion="chervepedia/{{ page.url | split: '/' | last }}"
            data-comments-limit="5"
            data-color="343638"
            data-dark="1"
            data-dark-color="FFFFFF">
    </script>
</div>